<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OnlineBookstore</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>


<body>
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 navbar-brand nav-tabs navbar-collapse">
                    Book Store
                </div>
                <div class="col text-right m-2 p-2">
                    <a class="btn btn-warning" href="/Admin">Admin</a>
                </div>
                <div class="col text-right m-2 p-2">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>


    <div class="row m-1 p-1">

        <div id="categories" class="col-3 bg-light">
            <vc:types></vc:types>
        </div>

        <div class="col-8 m-2 p-2">
            @RenderBody()
        </div>

    </div>

</body>
</html>