@page
@model OnlineBookstore.Pages.BookSummaryModel
@{
}

<h2>Your Basket</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    @*<tbody>
        @foreach(var i in Model.Books)
            {
                <tr>

                </tr>
            }
    </tbody>*@

    <tfoot>
        <tr>

        </tr>
    </tfoot>

</table>