@page
@model OnlineBookstore.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thanks for your purchase!</h2>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>